async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.10.0
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
fake-useragent==0.1.11
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httmock==1.4.0
http-request-randomizer==1.3.2
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
joblib==1.1.0
kaitaistruct==0.9
libretranslatepy==2.1.1
lxml==4.7.1
nltk==3.6.7
outcome==1.1.0
psutil==5.9.0
pyasn1==0.4.8
pycparser==2.21
pydivert==2.1.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
regex==2022.1.18
requests==2.27.1
rfc3986==1.5.0
selenium==4.1.0
selenium-stealth==1.0.6
selenium-wire==4.6.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
textblob==0.17.1
tqdm==4.62.3
translate==3.6.1
translator==0.0.9
trio==0.19.0
trio-websocket==0.9.2
undetected-chromedriver==3.1.3
urllib3==1.26.8
webdriver-manager==3.5.2
websockets==10.1
wsproto==1.0.0
zstandard==0.17.0
